[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LRQVB"]
	path = LRQVB
	url = https://github.com/cran/LRQVB
[submodule "VBMS"]
	path = VBMS
	url = https://github.com/cran/VBMS
